JWS.sign() hardcodes "typ": "JWT"

Setting the JOSE header "typ" to "JWT" is hardcoded in jws._encode_header(). Although setting this parameter is recommended in rfc7519 (JWT specification), in rfc 7515 (JWS specification) it is marked as optional. Currently there is no way to remove it from the header.

The proposed solution is to not hardcode it in jws._encode_header() but added to the extra headers through jwt.encode(). Thus, JWT functionality remains unaffected, but JWS is RFC compliant

I really suggest merging this. I've already found some APIs that (for some reason) requires the "typ" header to not be sent, which is impossible without this change.

This issue also prevents the use of explicitly-typed JWTs, [which are recommended in RFC 8725 §3.11](https://datatracker.ietf.org/doc/html/rfc8725#name-use-explicit-typing) as mitigation against cross-JWT confusion vulns.

Explicit JWT types currently in use include `at+jwt` ([RFC 9068](https://datatracker.ietf.org/doc/html/rfc9068)), `logout+jwt` ([OIDC Back-Channel Logout](https://openid.net/specs/openid-connect-backchannel-1_0.html)), `oauth-authz-req+jwt` ([RFC 9101](https://datatracker.ietf.org/doc/html/rfc9101)), `secevent+jwt` ([RFC 8417](https://datatracker.ietf.org/doc/html/rfc8417)), and `token-introspection+jwt` ([draft RFC](https://datatracker.ietf.org/doc/html/draft-ietf-oauth-jwt-introspection-response-12)).

@mpdavis please consider allowing the `typ` in the header to be overridden so these protocols can be implemented correctly and safely using this library. Thank you.